[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
pyyaml = "*"
black = "*"
isort = "*"
flake8 = "*"
pytest = "*"
pytest-cookies = "*"
sh = "*"

[packages]
cookiecutter = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
